# **Assignment on Measures of Central Tendency and Dispersion**

In [19]:
import numpy as np
import pandas as pd
import statistics as stat
import statsmodels.stats as stats
from scipy.stats import ttest_ind

In [2]:
data = pd.read_csv('/content/StudentsPerformance.csv')

In [3]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**1. Find out how many males and females participated in the test.**

In [5]:

gender_counts = data['gender'].value_counts()
print("Number of males:", gender_counts['male'])
print("Number of females:", gender_counts['female'])

Number of males: 482
Number of females: 518

**2. What do you think about the students' parental level of education?**

In [6]:

parental_education_counts = data['parental level of education'].value_counts()

print("Counts of parental level of education:") #to print the counts
print(parental_education_counts)

# to calculate the percentage of students in each parental education level
percentage_parental_education = (parental_education_counts / len(data)) * 100


print("\nPercentage of students in each parental education level:") # Print the percentages
print(percentage_parental_education)

Counts of parental level of education:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Percentage of students in each parental education level:
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

**Inferences from data**

**1.Different Education Levels**: The parents of the students have different levels of education.

**2.Lots of Parents Went to College or Did Vocational Training:** Many parents have gone to college or done job-related training after high school
.
**3.Some Parents Finished High School:** Quite a few parents finished high school orthey got some high school education.

**4.A Few Number of Parents Have Degrees:**While not as common, there are still some parents who have bachelor's or master's degrees.

**5. Money and Opportunities:** The education levels of parents might suggest that some families have more money or better chances for their kids.

**6.Can Influence What Children Want to Do:** The education levels of parents might also affect what their children want to do in the future. If parents went to college, children might want to do the same.


---

**3. Who scores the most on average for math, reading and writing based on**
● Gender
● Test preparation course

*1.Based on gender*

In [7]:
average_scores_by_gender = data.groupby('gender').mean()

max_scores_by_gender = average_scores_by_gender.idxmax()#to find the maximum scores for each subject by gender

print("The individual who scores the most on average for each subject based on gender:")#to print output
print(max_scores_by_gender)

The individual who scores the most on average for each subject based on gender:
math score         male
reading score    female
writing score    female
dtype: object

<ipython-input-7-6cdf35c81b38>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_by_gender = data.groupby('gender').mean()

*2.Test preparation course*

In [9]:
average_scores_by_prep_course = data.groupby('test preparation course').mean()
max_scores_by_prep_course = average_scores_by_prep_course.idxmax() #to find the maximum scores for each subject by test preparation course completion

print("The individual who scores the most on average for each subject based on test preparation course completion:")
print(max_scores_by_prep_course) #to print output

The individual who scores the most on average for each subject based on test preparation course completion:
math score       completed
reading score    completed
writing score    completed
dtype: object

<ipython-input-9-ad0d4d5d7e31>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_by_prep_course = data.groupby('test preparation course').mean()

**4. What do you think about the scoring variation for math, reading and writing
based on**
● Gender
● Test preparation course

1.Based on Gender

In [13]:
# Descriptive statistics
descriptive_stats = data.groupby('gender').agg({'math score': ['mean', 'std'],
                                                'reading score': ['mean', 'std'],
                                                'writing score': ['mean', 'std']})
print("Descriptive Statistics by Gender:")
print(descriptive_stats)

Descriptive Statistics by Gender:
       math score            reading score            writing score
             mean        std          mean        std          mean        std
gender
female  63.376448  16.029928     72.590734  14.411018     72.467181  14.844842
male    68.821577  14.556411     65.545643  14.149594     63.446058  14.227225

**T-test**

In [21]:
for subject in ['math score', 'reading score', 'writing score']:
    male_scores = data[data['gender'] == 'male'][subject]
    female_scores = data[data['gender'] == 'female'][subject]

    t_stat, p_value = ttest_ind(male_scores, female_scores)

    print(f"T-test results for {subject}:")
    print(f"   T-statistic: {t_stat}")
    print(f"   P-value: {p_value}")
    if p_value < 0.05:
        print("   Significant difference exists between genders.")
    else:
        print("   No significant difference between genders.")

T-test results for math score:
   T-statistic: 5.609756414440176
   P-value: 2.623280844685424e-08
   Significant difference exists between genders.
T-test results for reading score:
   T-statistic: -7.7924842049634195
   P-value: 1.6440013039185272e-14
   Significant difference exists between genders.
T-test results for writing score:
   T-statistic: -9.796540187106341
   P-value: 1.0673216969023204e-21
   Significant difference exists between genders.

2.Test preparation course

In [22]:

# Descriptive statistics
descriptive_stats = data.groupby('test preparation course').agg({'math score': ['mean', 'std'],
                                                                 'reading score': ['mean', 'std'],
                                                                 'writing score': ['mean', 'std']})
print("Descriptive Statistics by Test Preparation Course:")
print(descriptive_stats)

Descriptive Statistics by Test Preparation Course:
                        math score            reading score             \
                              mean        std          mean        std
test preparation course
completed                 69.96648  14.521847     74.175978  13.537572
none                      63.78972  15.705689     66.417445  14.608896

                        writing score
                                 mean        std
test preparation course
completed                   74.684358  13.236412
none                        64.457944  15.041667

**T-test**

In [24]:


for subject in ['math score', 'reading score', 'writing score']:
    prep_completed_scores = data[data['test preparation course'] == 'completed'][subject]
    prep_none_scores = data[data['test preparation course'] == 'none'][subject]

    t_stat, p_value = ttest_ind(prep_completed_scores, prep_none_scores)

    print(f"T-test results for {subject}:")
    print(f"   T-statistic: {t_stat}")
    print(f"   P-value: {p_value}")
    if p_value < 0.05:
        print("   Significant difference exists between students who completed and did not complete the test preparation course.")
    else:
        print("   No significant difference between students who completed and did not complete the test preparation course.")

T-test results for math score:
   T-statistic: 6.1232848310295465
   P-value: 1.316265051508264e-09
   Significant difference exists between students who completed and did not complete the test preparation course.
T-test results for reading score:
   T-statistic: 8.26291298011954
   P-value: 4.489346443613214e-16
   Significant difference exists between students who completed and did not complete the test preparation course.
T-test results for writing score:
   T-statistic: 10.750049053323115
   P-value: 1.3992356025120816e-25
   Significant difference exists between students who completed and did not complete the test preparation course.

**5. The management needs your help to give bonus points to the top 25% of
students based on their math score, so how will you help the management
to achieve this .**

In [26]:

# Firstly  Calculate math score percentiles
math_percentiles = data['math score'].quantile(0.75)  # to get the 75th percentile

# Find top 25% students based on math scores
top_25_percent_students = data[data['math score'] >= math_percentiles]

# Assign bonus points to the top 25% students
bonus_points = 15  # You can assign the bonus points as per management's decision
top_25_percent_students['Bonus Points'] = bonus_points

# to print the top 25% students with bonus points
print("Top 25% Students with Bonus Points:")
print(top_25_percent_students)

# to save the updated dataset with bonus points
top_25_percent_students.to_csv("top_25_percent_students_with_bonus.csv", index=False)

Top 25% Students with Bonus Points:
     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     Bonus Points
414            15
415            15
416            15
417            15
418            15
..            ...
995            15
996            15
997            15
998            15
999            15

[255 rows x 9 columns]

<ipython-input-26-3372ac88af47>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_25_percent_students['Bonus Points'] = bonus_points